.widget
  .widget-title
    i(class='fa fa-music')= ' ' + __('音乐台')
<iframe frameborder="no" border="0" style="margin-top:-25px;margin-left:-10px;" width=280 height=210 src="//music.163.com/outchain/player?type=0&id=591778704&auto=0&height=430"></iframe>