.widget
  .widget-title
    i(class='fa fa-bar-chart')= ' ' + __('访客统计')
  <a href="http://s05.flagcounter.com/more/quj"><img src="http://s11.flagcounter.com/count2/s7q/bg_FFFFFF/txt_000000/border_CCCCCC/columns_3/maxflags_12/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Since 2016.11" border="0" style="margin-top:15px;"></a>